#vidu_transition{
    border-radius: 20px;
    border: 1px;
    border-color: black;
    height: 300px;
    width: 300px;
    background-color: bisque;
    transition: 0.5s;
    
}
#vidu_transition:hover{
        
        height: 500px;
        width: 500px;
        background-color: yellow;
}
body{
    background-color: cadetblue;
}